%% -*- erlang -*-

{ plugins, [exo_rebar_plugin, exo_doc_plugin] }.
{ plugin_dir, "util" }.
{erl_opts, [debug_info]}.

{yang_opts, [{path, "yang"}]}.


{deps,
 [
  {exoport, ".*", {git, "https://github.com/Feuerlabs/exoport.git", "1.0"}},
  {nmea_0183, ".*", {git, "https://github.com/Feuerlabs/nmea_0183.git", "1.0"}},
  {can, ".*", {git, "https://github.com/Feuerlabs/can.git", "1.2"}},
  {lhttpc, ".*", {git, "git://github.com/Feuerlabs/lhttpc.git", "1.2.6.fl.6"}},
  {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", "HEAD"}}
 ]}.
