[{exoport,
     [{kvdb_databases,
          [{kvdb_conf,
               [{file,"$DATA_DIR/kvdb_conf.db"},
                {backend,ets},
                {log_dir,"$DATA_DIR/kvdb_conf.log"},
                {log_threshold,[{writes,1000}]},
                {save_mode,[on_switch,on_close]},
                {tables,[data]},
                {encoding,{raw,term,term}},
                {schema,kvdb_schema_events}]}]},
      {config,"/home/magnus/work/fl/erl/exodemo/priv/exoport.config"},
      {access,[{redirect,[{demo,exodemo_config}]},{accept,exodemo_config}]}]},
 {setup,[{data_dir,"db"}]}].
